In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import os
import json
import time

In [9]:
# Import MSA File
msa_agg = pd.read_csv('MSa_Agg.csv',low_memory=False)
msa_agg

,MANAME,Zip_count,Population_2014,Population_2019,Population_growth,Affordability_2019,Income_Growth,Weighted_Cost_Change,Affordability_Change,Population_growth_%
0,Akron OH,44,684698.0,684197.0,-501.0,0.251995,0.150071,0.015408,-0.112078,-0.000732
1,Albany-Schenectady-Troy NY,97,901947.0,904693.0,2746.0,0.260619,0.153546,0.104488,-0.027628,0.003045
2,Albuquerque NM,41,889636.0,901623.0,11987.0,0.270181,0.104422,0.050645,-0.027977,0.013474
3,Allentown-Bethlehem-Easton PA-NJ,64,831644.0,842025.0,10381.0,0.265437,0.152977,0.044326,-0.080851,0.012483
4,Atlanta-Sandy Springs-Roswell GA,209,5555104.0,5971385.0,416281.0,0.257001,0.199617,0.047287,-0.116082,0.074937
...,...,...,...,...,...,...,...,...,...,...
64,Tucson AZ,37,978564.0,1010951.0,32387.0,0.266035,0.149762,0.039751,-0.091046,0.033096
65,Tulsa OK,95,1079049.0,1112119.0,33070.0,0.244363,0.128667,0.060656,-0.050574,0.030647
66,Virginia Beach-Norfolk-Newport News VA-N,80,1668548.0,1687644.0,19096.0,0.276800,0.134159,0.028774,-0.076847,0.011445
67,Washington-Arlington-Alexandria DC-VA-MD,264,5838956.0,6164488.0,325532.0,0.251348,0.147875,0.077727,-0.051700,0.055752
68,Worcester MA-CT,94,901750.0,915998.0,14248.0,0.246202,0.163483,0.036794,-0.090275,0.015800

In [10]:
# Import CSV's for charting
msa_top_growth = pd.read_csv('MSA_top_growth_atl.csv',low_memory=False)
msa_least_affordable = pd.read_csv('MSA_least_affordable.csv',low_memory=False)
msa_bottom_growth = pd.read_csv('MSA_bottom_growth.csv',low_memory=False)

In [ ]:
# Merge top growth and bottom growth dataframes into new dataframe to create one bar chart on population growth

In [ ]:
# Merge least affordable MSAs to create dataframe with all MSAs for bar chart of affordability

In [ ]:
# Bar chart of change in affordability from the fastest and slowest growing MSAs dataframe

In [ ]:
# Any other bar charts you want, whatever looks good! You got this